* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App form input[type="text"] {
  padding: 10px 100px;
}
.App form {
  padding: 30px;
}
.App button {
  padding: 10px;
}
.todo {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  text-align: center;
}
.todo-container {
  width: 50%;
}
